# **Coefficient of Variation**

is a standardized measure of dispersion of a probability distribution or data set. It expresses the ratio of the standard deviation to the mean, and it is used to compare the degree of variation between different datasets or distributions, even if their means are different. The CV is typically expressed as a percentage.

### When to Use CV:
#### The Coefficient of Variation is useful in:

#### 1. **Comparing Variability**: It allows you to calculate the probability that a random variable will fall within a specific range.
#### 2. **Risk Analysis**: In finance, the CV is often used to assess the risk (standard deviation) relative to expected returns (mean) of an investment.
#### 3. **Quality Control:**: It helps in determining the consistency of a product's characteristics across different production batches or testing conditions.

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import variation

### Example #1 Numpy Population

In [2]:
data = [32,56,67,23,45,12,86]

mean = np.mean(data)
std_dev_np_pop = np.std(data)
cv_numpy_pop = (std_dev_np_pop / mean) * 100
cv_numpy_pop

52.277076544306624

### Example #2 Numpy Sample

In [3]:
std_dev_np_sample = np.std(data, ddof=1)
cv_numpy_sample = (std_dev_np_sample / mean) * 100

cv_numpy_sample

56.46569625907848

### Example #3 Scipy

In [4]:
cv_scipy_pop = variation(data) * 100
cv_scipy_pop

52.277076544306624

### Example #4 Pandas

In [5]:
df = pd.DataFrame({'Values': data})
df

   Values
0      32
1      56
2      67
3      23
4      45
5      12
6      86

In [6]:
mean_df = df.Values.mean()
std_df = df.Values.std()
cv_pd = (std_df / mean_df) * 100
cv_pd

56.46569625907848