# **Quantiles**

are points taken at regular intervals from a cumulative distribution of data that divide the data into equal-sized intervals. They help in understanding the spread, shape, and distribution of a dataset by splitting it into segments. A quantile can be understood as a generalization of the median, quartiles, and percentiles.

## Common Types of Quantiles:

#### 1. Median (2-Quantile): Divides the data into two equal halves (50% below, 50% above).

#### 2, Quartiles (4-Quantiles): Divides the data into four equal parts.
#### &nbsp; &nbsp; &nbsp; - Q1 (First Quartile): 25% of the data is below this value.
#### &nbsp; &nbsp; &nbsp; - Q2 (Second Quartile or Median): 50% of the data is below this value.
#### &nbsp; &nbsp; &nbsp; - Q3 (Third Quartile): 75% of the data is below this value.

#### 3. Deciles (10-Quantiles): Divides the data into ten equal parts.
#### &nbsp; &nbsp; &nbsp; - D1: 10% of the data is below this value.
#### &nbsp; &nbsp; &nbsp; - D9: 90% of the data is below this value.

#### 4. Percentiles (100-Quantiles): Divides the data into 100 equal parts.
#### &nbsp; &nbsp; &nbsp; - P25: 25% of the data is below this value (same as Q1).
#### &nbsp; &nbsp; &nbsp; - P50: 50% of the data is below this value (same as Q2, median).
#### &nbsp; &nbsp; &nbsp; - P75: 75% of the data is below this value (same as Q3).

In [1]:
import pandas as pd
import numpy as np

### Example #1 Quadtiles in Numpy

In [2]:
data = [13,74,11,12,56,33,18,7,93,55]

Q1 = np.percentile(data, 25)
Q2 = np.percentile(data, 50)
Q3 = np.percentile(data, 75)

print(Q1)
print(Q2)
print(Q3)

12.25
25.5
55.75

### Example #2 Numpy Deciles

In [4]:
D1 = np.percentile(data, 10)
D9 = np.percentile(data, 90)

print(D1)
print(D9)

10.6
75.89999999999999

### Example #3 Numpy Percentiles

In [5]:
P11 = np.percentile(data, 11)
P53 = np.percentile(data, 53)

print(P11)
print(P53)

10.96
29.550000000000008

### Example #4 Pandas Dataframe Quartiles

In [6]:
df = pd.DataFrame({
    'A': data
})

df

    A
0  13
1  74
2  11
3  12
4  56
5  33
6  18
7   7
8  93
9  55

In [8]:
PDQ1 = df['A'].quantile(0.25)
PDQ2 = df['A'].quantile(0.50)
PDQ3 = df['A'].quantile(0.75)


print(PDQ1)
print(PDQ2)
print(PDQ3)

12.25
25.5
55.75

### Example #5 Pandas Dataframe Deciles

In [9]:
PD1 = df['A'].quantile(0.1)
PD9 = df['A'].quantile(0.9)

print(PD1)
print(PD9)

10.6
75.89999999999999